.resume-builder {
  position: relative;
  top: 1rem;
} 
.form-container {
  position: relative;
  transform: translateX(100vw); /* Start off-screen to the right */
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
.error {
  color: red;
  font-size: 0.9rem;
}


/* Animation class when the form is in view */
.form-container.show {
  transform: translateX(0); /* End at the center */
  opacity: 1;
}
.beside{
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to right, #7c8186, #274244);
  height: 54rem;
  overflow:hidden
}

.form-container {
  width: 51rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 1.89rem;
  background: white;
  border-radius: 2rem;
}
/* .form-container {
  width: 50rem;
  margin-left: 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 4rem;
} */
/* 
.background-image {
  height: 30rem; /* Set the image height */
  /* background-image: url('/assets/developers-gif-showcase.gif'); /* Your image URL */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  width: 100%;
} */ 


/* Form title */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form row layout */
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

/* Column for input fields */
.form-column {
  width: 48%;
}

/* Labels for form fields */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

/* Input and textarea styling */


/* Textarea adjustment */
textarea {
  height: 80px;
}

/* Skills badge container */
.skills-display {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
}

/* Styling for individual skill badges */
.skill-badge {
  padding: 8px 12px;
  background-color: #129367;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.skill-badge:hover {
  background-color: #0056b3;
}

/* Button row styling */
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Button styling */
button {
  padding: 10px 20px;
  border: none;
  background-color: #035698;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

button[type='button'] {
  background-color: #930000b0;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .form-column {
    width: 83%;
  }

  .resume-builder {
    padding-left: 5%; /* Adjust the padding for smaller screens */
  }
}
@media (max-width: 800px) {
  .image-container {
    display: none; /* Hide the image container on small screens */
  }
  
  .form-container {
    width: 83%; /* Use full width for the form on small screens */
  }
}